<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Maneger</title>

    <link rel="stylesheet" href="/bscss/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Escola Maneger</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">teste</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/cadastro">Cadastrar Estudantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listar">Listar Estudantes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>

        {{{body}}}

    </main>
    <header>

        <h3 class="text-center">Escola Maneger</h3>
        <p>Toos</p>

    </header>

    <script src="/popperjs/popper.min.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>

</body>

</html>